server:
  port: 9090

spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password: 

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true

  main:
    allow-bean-definition-overriding: true

jwt:
  secret: MyUltraSecureJWTSecretKey12345678
  expiration: 86400000
